{{> header }}

{{> navbar }}

<div>
    <div class="row">
        <div class="col-8">
            <h1>Imagen</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sint minus doloribus a voluptatem earum eaque
            facilis vero distinctio! Neque, provident. Voluptatem cupiditate, atque numquam est veniam quidem adipisci
            nisi.
        </div>

        <div class="col-4">
            <img class="img-thumbnail" src="assets/images/60a3a0e7-6828-4cac-ac18-dc16e3142d73.jpg" style="width: 200px;" alt="">
        </div>
    </div>
</div>

{{> footer}}